Цель: подключиться к базе данных и провести анализ по выявленным задачам.
1. Какое среднее количество менторов взаимодействуют на платформе? 
2. Какое среднее количество менти взаимодействуют на платформе? 
3. Сколько менторов и менти, которые еще не приняли участие ни в одной встрече?
4. Сколько у менторов в среднем успешных сессий по месяцам?
5. Определите ТОП-10 менторов с самым большим количеством сессий
6. Сколько времени в среднем проходит между менторскими встречами у одного менти?
7. Сколько сессий по каждому направлению менторства обычно отменяется?
8. Какого числа последнего месяца прошло больше всего сессий ?

In [1]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.9-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.4 kB)
Downloading psycopg2_binary-2.9.9-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 23.6 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy

In [3]:
url = create_engine('postgresql://mentor:m06uz3.tMQ017y8n@185.86.147.205/db_mentor')

In [4]:
#Создаем объект метаданных
metadata = sqlalchemy.MetaData()

# Связываем объект метаданных с базой данных, используя соединение
metadata.reflect(bind=url)

# Получаем список имен таблиц
table_names = metadata.tables.keys()
table_names

dict_keys(['weekly_sessions', 'контр', 'persons', 'a', 'weekly', 'region', 'users', 'domain', 'sessions'])

In [5]:
# Просмотр таблицы sessions
query = 'select * from sessions'
sessions = pd.read_sql(query, con = url)
sessions.head(5)

,session_id,session_date_time,mentor_id,mentee_id,session_status,mentor_domain_id,user_id
0,1,2021-02-12,3576,1329,finished,5,None
1,2,2021-02-17,1228,3561,finished,7,None
2,3,2021-02-19,4259,3939,finished,5,None
3,9,2021-03-06,4838,3311,finished,2,None
4,12,2021-03-27,4221,1699,finished,4,None

In [6]:
# Просмотр таблицы users

query = 'select * from users'
users = pd.read_sql(query, con = url)
users.head()

   user_id   reg_date    role  region_id
0        1 2021-04-22  mentee          7
1        5 2021-12-25  mentee          1
2        6 2021-01-28  mentee          2
3        8 2022-09-12  mentee          6
4       10 2021-06-16  mentee          1

In [7]:
# Просмотр таблицы domain

query = 'select * from domain'
domain = pd.read_sql(query, con = url)
domain.head()

   id                         name
0   1        Продуктовая аналитика
1   2              AB тестирование
2   3          Визуализация данных
3   4                           DS
4   5  Python для аналитики данных

In [8]:
# Просмотр таблицы region

query = 'select * from region'
region = pd.read_sql(query, con = url)
region.head()

   id                name
0   0              Другое
1   1            г Москва
2   2   г Санкт-Петербург
3   3      Ростовская обл
4   4  Краснодарский край

In [9]:
# 1. Какое среднее количество менторов взаимодействуют на платформе? 
sessions_count_mentor = sessions.groupby('mentor_id', as_index=False).agg(count_sessions_mentor=('session_id', 'nunique'))

# 1.1 Вычисляем среднее количество сессий для каждого ментора
menot_avg_session = sessions_count_mentor['count_sessions_mentor'].mean()

# 1.2 Выводим общее среднее
print(f'Среднее количество сессий на ментора: {menot_avg_session:.2f}')

Среднее количество сессий на ментора: 10.47

In [10]:
# 2. Какое среднее количество менти взаимодействуют на платформе? 
sessions_count_mentee = sessions.groupby('mentee_id', as_index=False).agg(count_sessions_mentee=('session_id', 'nunique'))

# 2.1 Вычисляем среднее количество сессий для каждого ментора
mentee_avg_session = sessions_count_mentee['count_sessions_mentee'].mean()

# 2.3 Выводим общее среднее
print(f'Среднее количество сессий на менти: {mentee_avg_session:.2f}')

Среднее количество сессий на менти: 3.53

In [11]:
# 3. Сколько менторов и менти, которые еще не приняли участие ни в одной встрече?

# 3.1 Получаем уникальных менторов, которые провели сессии
mentors_with_sessions = sessions['mentor_id'].unique()

# 3.2 Получаем все менторов из таблицы users
mentors = users[users['role']=='mentor']
all_mentors = pd.Series(mentors['user_id'])


list_mentor_session = list(mentors_with_sessions)
list_all_mentor = list(all_mentors)

counter = 0
for item1 in list_all_mentor:
    found = False
    for item2 in list_mentor_session:
        if item1==item2:
            found = True
            break
    if not found:
        counter += 1
counter
print(f'Количество менторов у которых не было ни одной сессии - {counter}')

Количество менторов у которых не было ни одной сессии - 0

In [12]:
# 3.3 Альтернативный метод рассчета. Менти которые не провели ни одной сессии
mentee_with_sessions = sessions["mentee_id"].unique()
mentee = users[users["role"]=='mentee']
all_mentee = mentee['user_id']

final = set(all_mentee) - set(mentee_with_sessions)
final = len(final)
print(f'Количество менти у которых не было ни одной сессии - {final}')

Количество менти у которых не было ни одной сессии - 662

In [13]:
# 4. Сколько у менторов в среднем успешных сессий по месяцам?

sessions['session_date_time'] = pd.to_datetime(sessions['session_date_time'])

# 4.1 Группируем по месяцу и ментору, затем считаем количество сессий
session_counts = sessions.groupby([sessions['session_date_time'].dt.to_period('M'), 'mentor_id']).size().reset_index(name='session_count')

# 4.2 Теперь вычислим среднее количество сессий по каждому месяцу
average_sessions_per_month = session_counts.groupby('session_date_time')['session_count'].mean().reset_index(name='average_session_count')
average_sessions_per_month.head()

  session_date_time  average_session_count
0           2021-02               1.000000
1           2021-03               1.000000
2           2021-04               1.000000
3           2021-05               1.055556
4           2021-06               1.125000

In [14]:
# 5. Определите ТОП-10 менторов с самым большим количеством сессий

top10 = sessions.groupby('mentor_id', as_index=False).agg(cnt = ('session_id', 'count')).sort_values(by='cnt', ascending=False)
top10.head(10)

     mentor_id  cnt
523       4256   21
531       4314   20
46         428   20
233       1927   20
269       2192   20
379       3045   19
375       3029   19
469       3800   19
6           47   19
109        997   18

In [15]:
# 6. Сколько времени в среднем проходит между менторскими встречами у одного менти?
sessions = sessions.sort_values(by=['mentee_id', 'session_date_time'])

# 6.1 Группируем по mentee_id и рассчитываем временные промежутки
sessions['time_diff'] = sessions.groupby('mentee_id')['session_date_time'].diff()

# 6.2 Вычисляем среднее время между сессиями (в секундах) для каждого mentee
average_time_diff = sessions.groupby('mentee_id')['time_diff'].mean()

# 6.3 Преобразуем в удобный формат (например, в часы)
average_time_diff_hours = average_time_diff.dt.total_seconds() / 3600

average_time_diff_hours.mean()

1476.982487341205

In [16]:
# 7. Сколько сессий по каждому направлению менторства обычно отменяется?

# 7.1 Объеденим таблицы 
sessions_domain = pd.merge(sessions, domain, how='left', left_on='mentor_domain_id', right_on = 'id')\

# 7.2 Отфилтруем DF по отмененным сессиям
sessions_domain = sessions_domain[sessions_domain['session_status']=='canceled']

# 7.3 Рассчитаем количество сессий по группам менторства
cnt_sessions_on_domain = sessions_domain.groupby('name', as_index=False).agg(cnt=('name', 'count'))
cnt_sessions_on_domain.sort_values(by='cnt', ascending = False)

                          name  cnt
2  Python для аналитики данных  189
5            Машинное обучение  174
6        Продуктовая аналитика  174
3                          SQL  137
1                           DS  131
4          Визуализация данных  129
0              AB тестирование  126

In [17]:
# 8. Какого числа последнего месяца прошло больше всего сессий ? 

# 8.1 Определяем максимальную дату
max_date = sessions['session_date_time'].max()

# 8.2 Опредеяем из максимальной даты месяц и год
last_month = max_date.month
last_year = max_date.year

# 8.3 фильтруем таблицу, оставляя только последний месяц
filtered_df = sessions[(sessions['session_date_time'].dt.month == last_month) & (sessions['session_date_time'].dt.year == last_year)]

# 8.1 Вычисляем количество встречь за каждый день
grouped = filtered_df.groupby('session_date_time',as_index=False).agg(cnt_sessions=('session_id', 'count')).sort_values(by='cnt_sessions', ascending = False)
print(f'{grouped.iloc[0,0]} числа было наибольшее количество встречь - {grouped.iloc[0,1]}')

2022-09-15 00:00:00 числа было наибольшее количество встречь - 117